<div class="sign-up-select-sports">
  <div class="container">
    <div class="row sign-up-select-sports-instructions">
      <h1>Select the sports you're interested in</h1>
    </div>

    <div class="row sign-up-select-sports-sport-row">
      <div class="col-md-2"></div>
      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Basketball</h2>
        <%= image_tag("sports-icons/basketball-icon-light-blue.png", alt: "Basketball") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Touch Football</h2>
        <%= image_tag("sports-icons/football-icon-light-blue.png", alt: "Touch Football") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Whiffle Ball</h2>
        <%= image_tag("sports-icons/baseball-icon-light-blue.png", alt: "Whiffle Ball") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Bowling</h2>
        <%= image_tag("sports-icons/bowling-icon-light-blue.png", alt: "Bowling") %>
      </div>
    </div>

    <div class="row sign-up-select-sports-sport-row">
      <div class="col-md-2"></div>
      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Golf</h2>
        <%= image_tag("sports-icons/golf-icon-light-blue.png", alt: "Golf") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Tennis</h2>
        <%= image_tag("sports-icons/tennis-icon-light-blue.png", alt: "Tennis") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h2>Soccer</h2>
        <%= image_tag("sports-icons/soccer-icon-light-blue.png", alt: "Soccer") %>
      </div>

      <div class="col-md-2 sign-up-select-sports-selection-sport">
        <h4>Add any other sports you'd like to play here (e.g. volleyball, hockey, bocce, etc.)</h2>
      </div>
    </div>

    <div class="sign-up-select-sports-personal-info">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 page-header"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>My cellphone number is</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>I live in</h3>
        </div>
      </div>
    </div>

    <div class="sign-up-select-sports-continue">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 page-header"></div>
      </div>

      <div class="row">
        <button type="button" class="btn btn-red">Continue</button>
      </div>

      <div class="row">
        <h4>5 sports selected!</h4>
      </div>

    </div>
  </div>
</div>