<% @page_title = "Lightning Sports | Select Sports" %>
<div class="sign-up-select-sports">
  <div class="container">

  	<% if @errors and @errors.count > 0 %>
  		<div class="row">
	  		<div class="alert alert-danger col-md-4 col-md-offset-4">
		  		<% @errors.each do |error| %>
		  			<p><%= error %></p>
	  			<% end %>
	  		</div>
  		</div>
  	<% end %>

    <div class="row sign-up-select-sports-instructions">
      <h1>Select the sports you're interested in</h1>
    </div>

    <div class="row sign-up-select-sports-sport-row">
      <div class="col-md-3"></div>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "basketball", title: "Basketball" } %>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "football", title: "Touch Football" } %>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "whiffle", title: "Whiffle Ball" } %>
    </div>

    <div class="row sign-up-select-sports-sport-row">
      <div class="col-md-3"></div>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "bowling", title: "Bowling" } %>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "golf", title: "Golf" } %>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "tennis", title: "Tennis" } %>
    </div>

    <div class="row sign-up-select-sports-sport-row">
      <div class="col-md-3"></div>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "ultimate", title: "Ultimate Frisbee" } %>
      <%= render partial: "shared/select_sports_sport", locals: { class_name: "soccer", title: "Soccer" } %>
      <div class="col-md-2 sign-up-select-sports-form">
        <textarea class="form-control model-other-sports" placeholder="Add any other sports you'd like to play here (e.g. volleyball, hockey, bocce, etc.)" rows="4"></textarea>
      </div>
    </div>

    <div class="personal-info">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 page-header"></div>
      </div>

      <div class="row personal-info-input-group">
        <div class="help-inline">
          <p>My email is</p>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control model-email" value="<%= @email || (current_user && current_user.email) %>">
        </div>

        <div class="error hidden email">
          <p>Please enter a valid email</p>
        </div>
      </div>

      <div class="row personal-info-input-group">
        <div class="help-inline">
          <p>My cellphone number is</p>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control model-phone" value="<%= @phone %>">
        </div>

        <div class="error hidden phone">
          <p>Please enter a valid 10 digit US phone number</p>
        </div>
      </div>

      <div class="row personal-info-input-group">
        <div class="help-inline">
          <p>I live in</p>
        </div>
        <div class="input-wrapper">
          <input type="text" class="form-control model-location" value="<%= @location %>">
        </div>

        <div class="error hidden location">
          <p>Please enter a US city</p>
        </div>
      </div>
    </div>

    <div class="sign-up-select-sports-continue">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 page-header"></div>
      </div>

      <div class="row sign-up-select-sports-continue-button">
      	<%= form_tag("/select-sports", method: "post", class: "select-sports-form") do %>
      		<button type="button" class="btn btn-lg btn-embossed btn-red select-sports-submit" data-loading-text="Submitting...">
            <i class="icon-bolt icon-large"></i>
             Continue
          </button>
    		<% end %>
      </div>

      <div class="row">
        <h4 class="select-sports-count"></h4>
      </div>

    </div>
  </div>
</div>

<% if false && @sports %>
  <script>
    <% @sports.each do |sport| %>

    <% end %>
  </script>
<% end %>