<div class="splash-about">
  <div class="row splash-about-row-1">
    <h1>About</h1>
  </div>

  <div class="row splash-about-text-row splash-about-row-2">
    <div class="col-md-2"></div>
    <div class="col-md-5 splash-about-text">
      <h1>Lightning Social Club is a technology company based in San Francisco</h1>
    </div>
    <div class="col-md-2">
      <%= image_tag("about/about-bridge.png", alt: "San Francisco Bridge") %>
    </div>
  </div>

  <div class="row splash-about-text-row splash-about-row-3">
    <div class="col-md-2"></div>
    <div class="col-md-5 splash-about-text">
      <h2>From surfing to bocce, we love activities of all kinds and believe others do too.</h2>
    </div>
    <div class="col-md-2">
      <%= image_tag("about/about-sharksurfing.png", alt: "Sharksurfing") %>
    </div>
  </div>

  <div class="row splash-about-text-row splash-about-row-4">
    <div class="col-md-2"></div>
    <div class="col-md-5 splash-about-text">
      <h2>So, we're making it easier to get out and enjoy the real world.  And along the way, we hope you meet some amazing people and have some amazing adventures.</h2>
    </div>
    <div class="col-md-2">
      <%= image_tag("about/about-map.png", alt: "Treasure Map") %>
    </div>
  </div>

  <div class="row splash-about-text-row splash-about-row-5">
    <div class="col-md-2"></div>
    <div class="col-md-5 splash-about-text">
      <h2>We're always down for a work break, so if you'd like to get in a quick 9 holes or play a game of horse, send a note to coffeebreak@joinlightning.com.</h2>
    </div>
    <div class="col-md-2">
      <%= image_tag("about/about-golf.png", alt: "Golf") %>
    </div>
  </div>

  <div class="row splash-about-row-6">
    <h2>Get out there, meet some new people and break a sweat.</h2><br>
    <h2 class="splash-about-row-6-blue-text"><%= link_to "Here's some inspiration if you still need it." %></h2>
  </div>
</div>