<body class="splash">

  <div>

    <div class="row splash-logo">
      <%= image_tag("brand/lightning_logo.png", :alt => "lightning logo") %>
      <h1>LIGHTNING</h1>
    </div>

    <div class="header-container">
    <div class="container splash-header">
      <h1>
        We're a social club that organizes<br>weekly sports across your city
      </h1>

      <div class="row sport-icon-container">
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_basketball.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_golf.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_football.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_bowling.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_baseball.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_tennis.png", :alt => "lightning logo") %>
        </div>
        <div class="sport-icon">
          <%= image_tag("sports-icons/dark_soccer.png", :alt => "lightning logo") %>
        </div>
      </div>

      <div class="row">
        <button type="button" class="btn btn-red membership-button">Apply For Membership</button>
      </div>
    </div>
    </div>

    <div class="splash-body">

      <div class="row body-main-header">
        <h2>Play your favorite sports when you'd like, meet amazing people</h2>
      </div>

      <div class="row body-bullet">
        <div class="col-md-2"></div>
        <div class="col-md-4 body-image">
          <h1>Apply with Facebook</h1>
          <h3>and answer a few questions, so we can make sure you're playing with the right people.</h3>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-red membership-button">Apply For Membership</button>
        </div>
      </div>

      <div class="row body-bullet">
        <div class="col-md-2"></div>
        <div class="col-md-4 body-image">
          <%= image_tag("splash-marketing/cal.png", :alt => "Calendar") %>
        </div>
        <div class="col-md-4">
          <h1>We personally match you</h1>
          <h3>with players of similar talent and that you don't yet know, but should.</h3>
        </div>
      </div>

      <div class="row body-bullet">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <h1>Only pay when you play</h1>
          <h3>We'll email you each week so you can let us know when you're free.</h3>
        </div>
        <div class="col-md-4 body-image">
          <%= image_tag("splash-marketing/match.png", :alt => "Match") %>
        </div>
      </div>

      <div class="row body-bullet last-bullet">
        <div class="col-md-2"></div>
        <div class="col-md-4 body-image">
          <%= image_tag("splash-marketing/high_five_red.png", :alt => "High Five") %>
        </div>        
        <div class="col-md-4">
          <h1>Show up and enjoy</h1>
          <h3>We organize everything. You just need to show up and bring your 'A' game.</h3>
        </div>
      </div>

    </div>

    <div class="splash-share">

      <div class="row cant-wait">
        <h2>Don't want to wait 3-4 weeks?</h2>
      </div>

      <div class="row invite-friends">
        <h1>Invite your friends to start playing sooner</h1>
      </div>

      <!-- <i class="glyphicon glyphicon-envelope"></i> -->
      <div class="row share-button-row">
        <button type="button" class="btn btn-blue share-button">Share on Twitter</button>
        <button type="button" class="btn btn-blue share-button">Share on Facebook</button>
        <button type="button" class="btn btn-blue share-button">Send an email</button>
      </div>

    </div>

    <div class="row lightning-footer">

      <div class="col-md-1"></div>
      <div class="col-md-4">
        <h2>Lightning Social Club (c) 2013</h2>
      </div>
      <div class="col-md-1"></div>

      <div class="col-md-3 footer-links">
        <div class="footer-link">
          <%= link_to "About", about_path %><br>
        </div>
        <div class="footer-link">
          <%= link_to "How Lightning Works", how_it_works_path %><br>
        </div>
        <div class="footer-link">
          <%= link_to "Contact", contact_path %><br>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        <%= image_tag("brand/footer_logo.png", :alt => "Gray Lightning Logo") %>
      </div>
    </div>

  </div>