<% @page_title = "Lightning Sports | Soccer, football, basketball, bowling and more. Play when you want." %>
<div class="splash-home">
  <div class="splash-jumbotron">
    <div class="container">
      <h1>We're a social club that organizes<br>weekly sports across your city</h1>

      <div class="sport-icon-container">
        <span class="sport-icon">
          <%= image_tag("sports-icons/basketball-icon-dark-blue.png", alt: "play basketball") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/golf-icon-dark-blue.png", alt: "play golf") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/football-icon-dark-blue.png", alt: "play football") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/bowling-icon-dark-blue.png", alt: "play bowling") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/whiffle-icon-dark-blue.png", alt: "play whiffleball") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/tennis-icon-dark-blue.png", alt: "play tennis") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/ultimate-icon-dark-blue.png", alt: "play ultimate frisbee") %>
        </span>
        <span class="sport-icon">
          <%= image_tag("sports-icons/soccer-icon-dark-blue.png", alt: "play soccer") %>
        </span>
      </div>

      <div class="jumbotron-button">
        <button type="button" class="btn btn-embossed btn-red btn-fb">
    			<i class="icon-facebook-sign"></i>Apply For Membership
    		</button>
      </div>
  		<p class="fb-never-post dark">We will never post to your wall</p>
    </div>
  </div>

  <div class="splash-marketing">
    <div class="container">
      <div class="main-header">
        <h1>Play your favorite sports when you'd like,<br> meet amazing people</h1>
      </div>

      <div class="marketing-bullet">
        <div class="bullet-text">
          <h2>Apply with Facebook</h2>
          <h3>We want to make sure our community remains awesome.</h3>
        </div>
        <div class="bullet-image">
          <button type="button" class="btn btn-embossed btn-red btn-fb">
			<i class="icon-facebook-sign"></i>Apply For Membership
		  </button>
		  <p class="fb-never-post">We will never post to your wall</p>
        </div>
      </div>

      <div class="marketing-bullet">
        <div class="bullet-image">
          <%= image_tag("splash-marketing/marketing-match.png", alt: "Calendar") %>
        </div>
        <div class="bullet-text">
          <h2>We personally match you</h2>
          <h3>
            with players of similar talent that<br> 
            you don't yet know, but should.
          </h3>
        </div>
      </div>

      <div class="marketing-bullet">
        <div class="bullet-text">
          <h2>Reserve your spot</h2>
          <h3>
            Every week we'll set up activities.<br>
            If you like one, reserve your spot.<br>
            If not, there's always next week!
          </h3>
        </div>
        <div class="bullet-image">
          <%= image_tag("splash-marketing/marketing-calendar.png", alt: "Match") %>
        </div>
      </div>

      <div class="marketing-bullet last-bullet">
        <div class="bullet-image high-five">
          <%= image_tag("splash-marketing/marketing-high-five-red.png", alt: "High Five") %>
        </div>        
        <div class="bullet-text">
          <h2>Show up and play </h2>
          <h3>
            From fielding teams to reserving courts, we do all the work.
          </h3>
        </div>
      </div>

      <div class="learn-more">
        <a href="/how-it-works" 
          class="btn btn-lg btn-light">Learn more about Lightning</a>
      </div>
    </div>
  </div>

  <%= render partial: "shared/waitlist_share", locals: { title: "Bring Lightning to your city faster", body: "Tell your friends" } %>
</div>

<script>
  mixpanel.track("Splash Page Loaded");
</script>
