<!DOCTYPE html>
<html>
<head>
  <title>Lightning: Play your favorite sports when you'd like</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="description" content="Sign up for free. From basketball to curling, we organize great weekly sports across your city. Only play when its convenient. It's the easiest, most flexible way to enjoy great activities.">
  <meta name="keywords" content="Lightning,play,sports,baseball,basketball,pickup,whiffle,ball,ultimate,frisbee,bowling,golf,bocce,soccer,touch,football,tennis">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="fb-root"></div>
  <script>
    // Additional JS functions here
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '733657786650697', // App ID
        channelUrl : '//localhost:3000/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional init code here
      FB.Event.subscribe('auth.authResponseChange', function(response) {
        // Here we specify what we do with the response anytime this event occurs. 
        if (response.status === 'connected') {
          console.log("connected");
          fbConnected();
        } else if (response.status === 'not_authorized') {
          console.log("not_authorized");
        } else {
          console.log("not logged in");
        }
      });
    };

    // Load the SDK asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44943328-1', 'joinlightning.com');
    ga('send', 'pageview');
  </script>

  <% if current_user %>
    <script>
      window.referralCode = '<%= "#{root_url}?referral=#{current_user.referral_code}" %>';
    </script>
  <% else %>
    <script>
      window.referralCode = '<%= root_url %>';
    </script>
  <% end %>

  <% if @header_color == :light %>
    <%= render partial: "shared/logo_header", object: "light" %>
  <% else %>
    <%= render partial: "shared/logo_header", object: "blue" %>
  <% end %>
  
	<%= yield %>

  <%= render partial: "shared/footer" %>

</body>
</html>
	